In [1]:
import pandas as pd

In [4]:
dados = pd.read_csv('dados/dados.csv')

In [5]:
dados.head(10)

   UF  Sexo  Idade  Cor  Anos de Estudo  Renda    Altura
0  11     0     23    8              12    800  1.603808
1  11     1     23    2              12   1150  1.739790
2  11     1     35    8              15    880  1.760444
3  11     0     46    2               6   3500  1.783158
4  11     1     47    8               9    150  1.690631
5  11     1     34    8              12    790  1.637906
6  11     0     57    8              12   3150  1.570078
7  11     1     60    8              12   1700  1.608495
8  11     1     50    4              14   1800  1.780329
9  11     0     26    8              12   1150  1.793203

In [8]:
#Visualizando cada um dos dados
sorted(dados['UF'].unique())

[11,
 12,
 13,
 14,
 15,
 16,
 17,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 31,
 32,
 33,
 35,
 41,
 42,
 43,
 50,
 51,
 52,
 53]

In [9]:
sorted(dados['Sexo'].unique())

[0, 1]

In [11]:
sorted(dados['Cor'].unique())

[0, 2, 4, 6, 8]

In [12]:
sorted(dados['Anos de Estudo'].unique()) #Isso não indica o número de anos de estudo, é um código que deve ser checado no link abaixo

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]

In [13]:
# Para checar a codificação dos dados:
# https://colab.research.google.com/drive/13YKK-RQOJnxxPu_JnqI2Q198CxsOrWkq?authuser=1#scrollTo=GsC_WhLFjQKq

# Tipos de Dados:

## Qualitativo nominal (Sexo, Cor, UF): não podem ser hierarquizados para serem ordenados

## Qualitativo ordinal: pode ser hierarquizado. Ex: se o nossos dados de Idade fossem dados por intervalos de idade

## Quantitativo discreto (Idade): pode ser contada, mas só existe com passos discretos (nesse caso não contamos 34,5 anos)

In [16]:
print('De %s até %s Anos' % (dados['Idade'].min(), dados['Idade'].max()))

De 13 até 99 Anos

## Quantitativo contínuo (Altura): pode ser contada e pode ter qualquer valor dado certo intervalo

In [17]:
print('De %s até %s metros' % (dados['Altura'].min(), dados['Altura'].max()))

De 1.339244614 até 2.028496765 metros